<nav class="navbar-default navbar-static-side" role="navigation" data-ng-controller="SiderbarController" data-ng-show="global.authenticated">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-question fa-fw"></i> Questions<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#!/questions/create">Ask a question</a>
                    </li>
                    <li>
                        <a href="#!/questions/list/professor">Professor's Questions</a>
                    </li>
                    <li>
                        <a href="#!/questions/list/student">Student's Questions</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->