extends ../layouts/default

block content
  .row
    .span2
    .span8
      if message && message.length
        .fade.in.alert.alert-error
          button.close(type="button", data-dismiss="alert") &times;
          strong #{message}
      block auth
    .span2