<section>
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{question.content}}</h1>
        
			<form role="form" data-ng-submit="submit()">
				<div class="form-group" ng-switch on="question.type">
					<div ng-switch-when="text">
						<textarea data-ng-model="$parent.answer.content" id="answer-text" cols="50" rows="2" placeholder="Write answer here...">
						</textarea>
					</div>
					<div ng-switch-when="truefalse">
	                    <div class="radio">
	                    	<label>
	                        	<input type="radio" name="options-truefalse" data-ng-model="$parent.answer.content" value="true"> True
	                    	</label>
	                    </div>
	                    <div class="radio">
	                    	<label>
	                        	<input type="radio" name="options-truefalse" data-ng-model="$parent.answer.content" value="false"> False
	                    	</label>
	                    </div>
		        	</div>
		        	<div ng-switch-when="multiplechoice">
	                    <div class="radio" ng-repeat="possibleAnswer in $parent.question.possibleAnswers track by $index">
	                        <label>
	                        	<input type="radio" name="options-multiplechoice" data-ng-model="$parent.$parent.answer.content" value="{{possibleAnswer}}"> {{possibleAnswer}}
                        	</label>
	                    </div>
		            </div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn" ng-disabled="!answer">
						<button class="btn btn-danger" ng-show="answer._id" ng-click="delete()">Delete</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>