<section>
    <h2>Ask a question </h2>
    <form class="form-horizontal" data-ng-submit="create()">
        <div class="control-group">
            <label class="control-label" for="content">Question</label>
            <div class="controls">
                <input type="text" data-ng-model="question.content" id="content" placeholder="Enter question here..." >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="text">Type</label>
            <div class="controls">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="text" id="text"> Text
                    </label>
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="truefalse" id="truefalse"> True/False
                    </label>
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="multiplechoice" id="multiplechoice"> Multiple Choice
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group" ng-switch on="question.type">
            <div ng-switch-when="text">
                <label class="control-label" for="correctanswer-text">Correct Answer</label>
                <div class="controls">
                    <textarea data-ng-model="$parent.question.correctanswer" id="correctanswer" cols="30" rows="10" placeholder="Enter answer...">
                    </textarea>
                </div>
            </div>
            <div ng-switch-when="truefalse">
                <label class="control-label" for="correctanswer-truefalse">Correct Answer</label>
                <div class="controls">
                    <div class="btn-group" id="correctanswer-truefalse" data-toggle="buttons">
                        <label class="btn">
                            <input type="radio" name="options-truefalse" data-ng-model="$parent.question.correctanswer" value="true" id="correctanswer-true"> True
                        </label>
                        <label class="btn">
                            <input type="radio" name="options-truefalse" data-ng-model="$parent.question.correctanswer" value="false" id="correctanswer-false"> False
                        </label>
                    </div>
                </div>
            </div>
            <div ng-switch-when="multiplechoice">
                <label class="control-label" for="correctanswer-multiplechoice">Possible Answers</label>
                <div class="controls">
                    [ <a href="" ng-click="addChoice()">add</a> ]
                    <div ng-repeat="answer in $parent.question.possibleanswers track by $index">
                        <input type="text" data-ng-model="$parent.question.possibleanswers[$index]" required>
                        <input type="radio" name="options-multiplechoice" data-ng-model="$parent.$parent.selectedAnswerIndex" value="{{$index}}">
                        <span ng-show='$parent.question.possibleanswers.length > 1' >
                            [ <a href="" ng-click="removeChoice($index)">X</a> ]
                        </span>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
    </form>
</section>
