<section>
    <h2>Ask a question </h2>
    <form class="form-horizontal" data-ng-submit="submit()">
        <div class="control-group">
            <label class="control-label" for="content">Question</label>
            <div class="controls">
                <input type="text" data-ng-model="question.content" id="content" placeholder="Enter question here..." >
            </div>
        </div>
        <div class="control-group" ng-class="(action=='edit') ? 'disabled' : ''">
            <label class="control-label" for="text">Type</label>
            <div class="controls">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="text" id="text"> Text
                    </label>
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="truefalse" id="truefalse"> True/False
                    </label>
                    <label class="btn">
                        <input type="radio" name="options" data-ng-model="question.type" value="multiplechoice" id="multiplechoice"> Multiple Choice
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group" ng-switch on="question.type">
            <div ng-switch-when="truefalse">
                <label class="control-label" for="correctanswer-truefalse">Correct Answer</label>
                <div class="controls">
                    <div class="btn-group" data-toggle="buttons">
                        <label ng-repeat="answer in $parent.question.possibleAnswers track by $index" class="btn">
                            <input type="radio" name="options-truefalse" data-ng-model="$parent.$parent.question.correctAnswerIndex" value="{{$index}}"> {{answer}}
                        </label>
                    </div>
                </div>
            </div>
            <div ng-switch-when="multiplechoice">
                <label class="control-label" for="correctanswer-multiplechoice">Possible Answers</label>
                <div class="controls">
                    [ <a href="" ng-click="addPossibleAnswer()">add</a> ]
                    <div ng-repeat="answer in $parent.question.possibleAnswers track by $index">
                        <input type="text" data-ng-model="$parent.question.possibleAnswers[$index]" required>
                        <input type="radio" name="options-multiplechoice" data-ng-model="$parent.$parent.question.correctAnswerIndex" value="{{$index}}">
                        <span ng-show='$parent.question.possibleAnswers.length > 1' >
                            [ <a href="" ng-click="removePossibleAnswer($index)">X</a> ]
                        </span>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
    </form>
</section>
