<section data-ng-controller="QuestionsDetailController" data-ng-init="findOne()">
    <h2>{{question.content}}</h2>
    <div data-ng-show="global.user.type == 'Student'">
    	<a class="btn" href="/#!/questions/{{question._id}}/answer">Answer</a>
    </div>
    <div data-ng-show="global.user.type == 'Professor'">
    	<a class="btn" href="/#!/questions/{{question._id}}/edit">Edit</a>
        <a class="btn" href="/#!" data-ng-click="delete()">Delete</a>
    </div>
    <div data-ng-show="question.possibleanswers.length > 0">
        <h3>Possible Answers</h3>
        <ul ng-repeat="possibleanswer in question.possibleanswers">
            <li class="possibleanswer">{{possibleanswer.content}}</li>
        </ul>
    </div>
    <div data-ng-show="global.user.type == 'Professor'">
        <h3>Correct Answer</h3>
        <span>{{question.correctanswer}}
    </div>
    <h3>Answers</h3>
    <ul ng-repeat="answer in question.answers">
    	<li class="answer">{{answer}}</li>
    </ul>
</section>
