<section data-ng-init="find()">
	<div class="col-lg-8">
        <div class="list-group">
            <a data-ng-repeat="question in questions | matchType:type | orderBy: '-nominatedBy.length'" data-ng-href="#!/questions/{{question._id}}" class="list-group-item">
                <i class="fa fa-question"></i> {{question.content}}
                <span class="pull-right text-muted small">
                	<i class="fa fa-star"></i><em>{{question.nominatedBy.length}}</em>
                </span>
            </a>
        </div>
        <!-- /.list-group -->
    </div>
</section>