<section>
	<div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-question fa-fw"></i> {{header}}
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a data-ng-repeat="question in questions | orderBy: '-nominatedBy.length'" data-ng-href="#!/questions/{{question._id}}" class="list-group-item">
                        {{question.content}}
                        <span class="pull-right text-muted small">
                            <i class="fa fa-star"></i><em>{{question.nominatedBy.length}}</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</section>