<section ng-init="findOne()">
	<div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-key fa-fw"></i> Change Password
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form class="form-horizontal" role="form" data-ng-submit="submit()">
                    <div class="form-group">
                        <label for="inputNewPassword" class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputNewPassword" ng-model="newPassword">
                          <p class="help-block">Password must be between 8 and 15 characters. The following symbols are allowed: @, #, !, $, *</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRetypeNewPassword" class="col-sm-3 control-label">Retype New Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputRetypeNewPassword" ng-model="retypeNewPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSubmit" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input type="submit" id="inputSubmit" class="btn btn-default" ng-class="(canSubmit()) ? '' : 'disabled'"></input>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</section>